/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');

.container {
    width: 45%;
    position: relative;
    left: 27.5%;
    margin-top: 5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    position: relative;
    font-family: "Atkinson Hyperlegible Mono", serif;
}
.container h1 {
    font-size: 3.75vh;
    font-weight: 600;
    color: rgb(0, 0, 0);
    text-align: center;
}
.container h2 {
    font-size: 2vh;
    font-weight: 400;
    color: rgb(120, 120, 150);
}
.container h3 {
    font-size: 2vh;
    font-weight: 500;
    color: rgb(20, 20, 20);
}
.container h4 {
    font-size: 3vh;
    margin-bottom: 2vh;
}
.content {
    line-height: 1.5 !important;
    font-size: 1.7vh;
    font-weight: 300;
    color: rgb(60, 60, 60);
    text-align: justify;
}
/*
.section {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    overflow: hidden;
  }
    */

    .section {
        box-sizing: border-box;
        overflow-x: hidden;
      }
  
    .section h4 {
        font-size: 3vh;
        font-weight: bold;
        margin-bottom: 10px;
        color: #333;
      }
      
      .section div {
        font-size: 1.7vh !important;
        text-align: justify !important;
        white-space: normal !important;
        word-wrap: break-word !important;
        line-height: 1.25;
        max-width: 100%;
        box-sizing: border-box;
        display: block;
      }
      
      
      .section img {
        margin-left: 10% !important;
        margin-top: 4vh !important;
        max-width: 80%;
        height: auto;
        display: block;
        margin: 2vh 0;
      }
      .section strong {
        margin-bottom: 2.5vh !important;
      }
      .section li {
        margin-left: 1vw !important;
        margin-top: 2.5vh !important;
      }

      .section ul li::marker {
        position: relative;
        top: 100vh;
        font-weight: bold;
        font-size: 2.3vh;
      }
  

@media screen and (max-width: 600px){
    .container {
        width: 90%;
        left: 5%;
        font-family: "Atkinson Hyperlegible Mono", serif;
    }
    .container h1 {
        font-size: 4vh;
    }
    .section ul li {
        margin-left: -3vw !important;
        width: 100%;
    }
    .section img {
      margin-left: 0 !important;
      margin-top: 2vh !important;
      max-width: 100%;
    }
}