/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');

.container {
    width: 33%;
    height: 171vh;
    position: relative;
    left: 33%;
    margin-top: 5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-top: 1px solid rgb(210, 210, 240);
    position: relative;
    font-family: "Roboto", serif;
}
.container h2 {
    margin-top: -1vh;
    margin-bottom: 4vh;
    color: rgb(110, 120, 150);
    font-size: 1.1vw;
    font-weight: 400;
}

.container p {
    letter-spacing: 0.05vh;
    line-height: 1.5;
    color: rgb(50, 50, 50);
    text-align: justify;
    font-size: 1.9vh;
}