/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');

.container {
    display: flex;
    flex-direction: column;
    width: 33%;
    position: relative;
    left: 33%;
    margin-top: 5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    position: relative;
    font-family: "Roboto", serif;
}
.container h1 {
    font-size: 4.6vh;
}
.container h2 {
    margin-top: -1vh;
    margin-bottom: 4vh;
    color: rgb(100, 110, 125);
    font-size: 2.3vh;
    font-weight: 400;
    line-height: 1.35;
}

.container p {
    letter-spacing: 0.05vh;
    line-height: 1.5;
    color: rgb(50, 50, 50);
    text-align: justify;
    font-size: 1.9vh;
}

@media screen and (max-width: 600px){
    .container {
        width: 90%;
        left: 5%;
    }
    .container h1 {
        font-size: 4vh;
    }
}