/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');

.container 
{
    width: 33%;
    position: relative;
    left: 33%;
    margin-top: 5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-top: 1px solid rgb(210, 210, 240);
    position: relative;
}